@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@inject IWebHostEnvironment WebHostEnvironment
@inject Microsoft.JSInterop.IJSRuntime JSRuntime

<div class="text-center">
    <InputFile OnChange="HandleFileSelected" multiple />
</div>

<ul>
    @foreach (var file in uploadedFiles)
    {
        <li>@file.Name</li>
    }
</ul>

@code {
    private List<IBrowserFile> uploadedFiles = new();

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            var filePath = Path.Combine(WebHostEnvironment.WebRootPath, "audio", file.Name);

            await using FileStream fs = new(filePath, FileMode.Create);
            await file.OpenReadStream().CopyToAsync(fs);

            uploadedFiles.Add(file);
        }
        StateHasChanged();
    }
}