@page
@model IndexModel
@using Microsoft.AspNetCore.Components
@using Final_Project.Components
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Music Player</h1>
    <p>It's time to jam.</p>    
    <component type="typeof(FileUpload)" render-mode="ServerPrerendered" />
</div>